.rst__moveHandle, .rst__loadingHandle{
    background: #f0f0f0 url(https://cdn-icons-png.flaticon.com/128/10336/10336994.png) no-repeat center !important;
    background-size: 20px auto !important;
}

body.dark .rst__moveHandle, .rst__loadingHandle{
    background: #090909 url(https://cdn-icons-png.flaticon.com/128/10336/10336994.png) no-repeat center !important;
    background-size: 20px auto !important;
}

.rst__rowContents{
    background:#dcdcdcd4;
}

body.dark .rst__rowContents{
    background:#000000d4;
}

.sortable-height{
    height: calc(100vh - 208px);
}


.rst__lineHalfHorizontalRight::before,
.rst__lineFullVertical::after,
.rst__lineHalfVerticalTop::after,
.rst__lineHalfVerticalBottom::after
 {
    background-color: black !important;
}

body.dark .rst__lineHalfHorizontalRight::before, 
body.dark .rst__lineFullVertical::after, 
body.dark .rst__lineHalfVerticalTop::after,
body.dark .rst__lineHalfVerticalBottom::after

{
    background-color: rgb(255, 255, 255) !important;
}

.rst__lineChildren::after{
    background-color: #000000 !important;
}

body.dark .rst__lineChildren::after{
    background-color: #f0f0f0 !important;
}



@media (max-width: 768px) {
    .sortable-height{
        height: 60vh;
    }
}

@media (max-width: 374px) {
    .sortable-height{
        height: 40vh;
    }
}